body {
    font-family: 'Oswald', sans-serif;
    background-color: #212529;
}

/* Containers */

/* .container-wrapper {} */

.container-wrapper--purple {
    background: url("../images/hostile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}




.container-wrapper--aboutpage {
    background: url("../images/aboutpage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container-wrapper--about-band {
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-wrapper--about-band2 {
    background: #212529;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-wrapper--about-map {
    background: #212529;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding:0px;
    margin:0;
    
}
iframe{
    width:100%;
    padding:0px;
    margin:0;
}

/* .alert-container {}  */

.callout-container {
    height: 100vh;
    background: url('../images/band-slider.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-container {
    height: 50vh;
    background: url('../images/concert.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10%;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

img:not(.rounded-circle) {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}


.logo {
    max-width: 200px;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {

    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-dark .navbar-nav .nav-link {
    color:rgba(255,255,255,.5);
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color:#cc00cc;
}
.navbar .navbar-nav a {
    float: left;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .navbar-nav a:hover {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #cc00cc;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-family: 'Anton', sans-serif;
    font-size: 9vw;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.btn-success {
    background-color: #cc00cc;
    border-color: #cc00cc;
}

.btn-success:hover {
    background-color: #fff;
    border-color: #cc00cc;
    color: #cc00cc;
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--purple {
    background-color: #cc00cc;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--purple {
    color: white;
    background-color: #cc00cc;
    border-color: #cc00cc;
}

.btn--purple:hover,
.btn--purple:active,
.btn--purple:focus,
.btn--purple:active:focus {
    background-color: #fff;
    border-color: #fff;
    color: #cc00cc;
}


/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    color: #fff;
}

/* Meet The Band*/

.quotes .page-header {
    margin-bottom: 25px;
}

.about {
    padding-left: -10px;
    padding-right: -10px;
    margin: 0px;
}

.blockquote {
    color: #fff;
}

.blockquote p {
    font-weight: normal;
    letter-spacing: 1px;
}

.blockquote-contact {
    color: #fff;
}

.blockquote-contact p {
    font-weight: normal;
    letter-spacing: 1px;
}

.blockquote-contact a {
    color:#cc00cc;
    font-weight: normal;
    letter-spacing: 1px;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.feature i {
    color: #cc00cc;
    text-shadow: 1px 1px 3px white;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: #cc00cc;
    border-color: #cc00cc;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}

.feature .btn:hover {
    background-color: rgba(255, 255, 255);
    border-color: #fff;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #cc00cc;
}

.media {
    margin: 50px;

}

/* Gallery Section*/

.container-wrapper .gallery-section {
    padding: 50px;
    position: relative;

}

.center {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gallery:hover .gallery-img {
    opacity: 0.3;
}

.gallery:hover .center {
    opacity: 1;
}

.gallery-text {
    background-color: #cc00cc;
    border-radius: 15px;
    min-width: 100px;
    padding: 5px;
    color: white;

}

.gallery-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 95%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mobile-text {
    color: white;
    font-size: 14px;
    text-align: center !important;
    text-transform: uppercase;
    margin: auto;
}

/* ABOUT PAGE*/

.about-text {
    color: #fff;
    text-align: center;
}

.rounded-border {
    border-radius: 5px;
    width: 300px !important;
}

.rounded-contact {
   width:100px !important;
   height:100px !important;
}

.blockquote2 {
    padding: 30px;
    letter-spacing: 1px;
    color: white;
    text-align: left;
}

.blockquote3 {
    padding: 30px;
    letter-spacing: 1px;
    color: white;
    text-align: right;

}

/* Footer */

footer {
    background: #000 url("../images/bokeh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    color: #fff;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 42px;
    height: 42px;
    padding-top: 8px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background: #cc00cc;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #fff;
    color: #cc00cc;
}

#footer-details {
    padding: 20px;
}


/* MEDIA QUERIES*/

.blockquote2 {
    font-size: 24px;
}

@media screen and (min-width: 320px) {
    .blockquote2 {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    .blockquote2 {
        font-size: 24px;
    }
}

.blockquote3 {
    font-size: 24px;
}

@media screen and (min-width: 320px) {
    .blockquote3 {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    .blockquote3 {
        font-size: 24px;
    }
}

.about-text {
    font-size: 24px;
}

@media screen and (min-width: 320px) {
    .about-text {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    .about-text {
        font-size: 24px;
    }
}




/*         TOGGLE     */

#toggle{
    display: none;
}

.myButton{
    color:#fff;
    background-color: #cc00cc;
    border-radius: 10px;
}