body {
    font-family: 'Oswald', sans-serif;
    background-color: #212529;
}

/* Containers */

/* .container-wrapper {} */

.container-wrapper--purple {
    background-color: #6542f4;
    color: white;
}

/* .alert-container {}  */

.callout-container {
    height: 100vh;

    background: url('../images/band-slider.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */
img:not(.rounded-circle) {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.logo{
    max-width: 200px;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
 
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight:normal ;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .navbar-nav a {
     float: left;
    font-weight: normal;
    text-transform: uppercase;
     letter-spacing: 2px;
}

.navbar .navbar-nav a:hover {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6542f4;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-family: 'Anton', sans-serif;
    font-size:9vw;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--purple {
    background-color: #6542f4;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--purple {
    color: white;
    background-color: #6542f4;
    border-color: #6542f4;
}

.btn--purple:hover,
.btn--purple:active,
.btn--purple:focus,
.btn--purple:active:focus {
    background-color: #fff;
    border-color: #fff;
    color: #6542f4;
}


/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    color: #fff;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

.blockquote {
    color: #fff;
}

.blockquote p {
        font-weight: normal;
        letter-spacing: 1px;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #6542f4;
}

.feature .btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}

.media {
    margin: 50px;
    
}


/* Footer */

footer {
    background: #000 url("../images/bokeh-316425_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    color: #fff;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color:#fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:#fff;
    background: #6542f4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #fff;
    color: #6542f4;
}

#footer-details {
    padding: 20px;
}

